$maincolor: #1f2325;
$secondarycolor: #d22020;

.reveal {
  .progress, .controls {
    background: rgba(0, 0, 0, 0.2);
    color: $maincolor;
  }
  section {
    img {
      border: none;
      background: none;
      box-shadow: none;
      margin: 0;
    }

    h1, h2, h3, h4, h5, & {
      font-family: papaya_sunriseregular, serif;
      color: $maincolor;
    }

    h3 {
      padding-bottom: 30px;
      line-height: 2em;

      &.title-heading {
        padding-bottom: 0;
        font-size: 1.6em;
        padding-left: 40%;

      }
    }

    h5.small-header {
      font-size: 0.9em;
      padding-bottom: 30px;
    }

    ul {
      list-style-type: none;
    }

    li {
      padding-bottom: 30px;
      background: url('../img/bullet.png') no-repeat 0 30%;
      padding-left: 60px;
    }

    .accent {
      color: $secondarycolor;
    }

    .shadowed {
      box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.52);
    }


    p.neon {
      color: #f3fffd;
      font-family: Monospace, serif;
      -webkit-animation: neon 1.5s ease-in-out infinite alternate;
      -moz-animation: neon 1.5s ease-in-out infinite alternate;
      animation: neon 1.5s ease-in-out infinite alternate;
      font-size: 3em;
      text-align: center;
      margin-top: -60px;
      text-decoration: none;
    }

    img.glowing {
      animation: glowing 2000ms infinite;
    }
    .info {

      .twitter {
        img {
          width: 60px;
          padding-right: 10px;
          opacity: 0.9;
        }
        padding-bottom: 50px;
      }
      .wrike_social {
        padding-bottom: 50px;
      }

      img.small-logo {
        width: 50px;
        margin: 0;
        vertical-align:middle;
        border-radius: 0;
        padding-right: 5px;
      }

      .team-text {
        padding-top: 20px;
      }

      a {
        color: $maincolor;
      }
    }
  }
}

.fullscreen-container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

div.slide-background.present[data-background-hash="img/title.pngnullnullnullnullnullnullnullnullnull"] {
  animation: fadein 5s forwards;
}

div.slide-background.present[data-background-hash="img/durer-bg.pngnullnullnullnullnullnullnullnullnull"] {
  filter: opacity(10%);
}

div.slide-background.present[data-background-hash="0whitenullnullnonenull"] {
  animation: black-to-white 2s forwards;
}

@keyframes black-to-white {
  from {
    background-color: black;
  }
  to {
    background-color: white;
  }
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
  }
}

@keyframes glowing {
  0%   { opacity:1; }
  50%  { opacity:0.9; }
  100% { opacity:1; }
}

@keyframes spin {
  10%, 100% {
    transform:rotate(360deg);
  }
}